name: "Deploys site"
description: "Deploys site"
inputs:
  TOKEN:
    description: "Github token"
    required: true
runs:
  using: "composite"
  steps:
    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: "0.152.2"
        extended: true

    - uses: actions/setup-node@v3
      with:
        node-version: "22.x"
    - name: generate files
      shell: bash
      run: |
        node ./tools/index.js

    - name: Build
      shell: bash
      run: hugo --minify

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ inputs.TOKEN }}
        publish_dir: ./public
