name: deploy
on:
  push:
    branches: main
  schedule:
    - cron: "0 0 * * *" # Runs at 00:00
permissions:
  contents: write
  pages: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 1
      - uses: ./.github/actions/deploy
        with:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
  schedule-needed-deploy:
    needs: deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.PUSH_GITHUB_TOKEN }} # use token to trigger deployment
      - uses: actions/setup-node@v3
        with:
          node-version: "18.x"
      - name: generate files
        shell: bash
        run: |
          node ./tools/index.js
      - name: commit changes to workflow
        run: |
          git config --global user.email "github-actions"
          git config --global user.name "github-actions"
          git diff-index --quiet HEAD || git commit -a -m "Schedule deployment." && git push;
