name: scheduled deploy
on:
  schedule:
    - cron: "20 9 * * 0" # Runs at 00:00
permissions:
  contents: write
  pages: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 1
      - uses: ./.github/actions/deploy
        with:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
