name: test
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 1

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.111.3"
          extended: true

      - uses: actions/setup-node@v3
        with:
          node-version: "18.x"
      - name: generate files
        run: |
          node ./tools/index.js
          node ./tools/parser

      - name: Build
        run: hugo --minify
